@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/PlayfairDisplay/PlayfairDisplay-Regular.eot');
  src: url('../fonts/PlayfairDisplay/PlayfairDisplay-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/PlayfairDisplay/PlayfairDisplay-Regular.woff') format('woff'),
    url('../fonts/PlayfairDisplay/PlayfairDisplay-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/playfairDisplay/PlayfairDisplay-Bold.eot');
  src: url('../fonts/playfairDisplay/PlayfairDisplay-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/playfairDisplay/PlayfairDisplay-Bold.woff') format('woff'),
    url('../fonts/playfairDisplay/PlayfairDisplay-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}


@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto/Roboto-Regular.eot');
  src: url('../fonts/Roboto/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Roboto/Roboto-Regular.woff') format('woff'),
    url('../fonts/Roboto/Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto/Roboto-Bold.eot');
  src: url('../fonts/Roboto/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Roboto/Roboto-Bold.woff') format('woff'),
    url('../fonts/Roboto/Roboto-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}